name: CiCd Demo

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install

      - run: npm run build

      - - run: |
            sudo rm -rf /var/www/CICD/dist
            sudo mkdir -p /var/www/CICD/dist
            sudo cp -r dist/. /var/www/CICD/dist/